<div class="exchange__component">
  <span class="exchange__title">Обмен</span>
    <img
      alt="buttonReplaceIcon"
      class="replace-currency__button"
      (click)="replaceValueInFormControls()"
      [src]="'assets/icons/currency/iconButtonReplace.svg'"
    />
  <span class="input-give__label">Отдаёте</span>
  <div class="exchange__form-field-give">
    <img
      width="32"
      height="32"
      alt="{{ getIconName }}"
      *ngIf="giveIconName"
      [src]="'assets/icons/currency/' + giveIconName + '.svg'"
    />
    <input
      class="exchange__input"
      type="number"
      matInput
      [formControl]="formGroupExchange.controls.formGive"
    />
  </div>
  <div style="margin-top: 20px">
    <span
      style="margin-top: 190px; margin-left: 16px; margin-bottom: -10px"
      class="input-get__label"
      >Получаете</span
    >
    <div class="exchange__form-field-get">
      <img
        alt="{{ getIconName }}"
        width="32"
        height="32"
        *ngIf="getIconName"
        [ngSrc]="'assets/icons/currency/' + getIconName + '.svg'"
      />
      <input
        class="exchange__input"
        type="number"
        readonly
        [formControl]="formGroupExchange.controls.formGet"
      />
    </div>
  </div>
  <div class="currency__output">
    <span class="output__title">Курс обмена</span>
    <span
      class="currency__output-value"
      *ngIf="
        responseServer[giveCurrencyCode] && responseServer[getCurrencyCode]
      "
    >
      1
      {{ responseServer[giveCurrencyCode].code }}
      =
      {{
        (
          responseServer[getCurrencyCode].value /
          responseServer[giveCurrencyCode].value
        ).toFixed(2)
      }}
      {{ responseServer[getCurrencyCode].code }}
    </span>
  </div>
</div>
