<div class="form-departure__component">
  <div class="main-title__form">{{ valueTitle }}</div>

  <app-button-currency
    [nameFirstTemplate]="nameFirstTemplate"
    [nameSecondTemplate]="nameSecondTemplate"
    (click)="checkingIconOutput()"
    (outputValue)="addCryptoOrCurrency($event)"
  ></app-button-currency>

  <mat-button-toggle-group class="currency__button-group">
    <ng-container *ngIf="firstOrSecond === SequenceNumber.first">
      <mat-button-toggle
        *ngFor="let nameFilterOption of nameFilterOption"
        class="currency__button"
        (click)="processingValueCurrencyCode(nameFilterOption.code)"
      >
        {{ nameFilterOption.name }}
      </mat-button-toggle>
    </ng-container>

    <ng-container
      *ngIf="firstOrSecond === SequenceNumber.second"
    >
      <mat-button-toggle
        *ngFor="let nameFilter of nameSecondOption"
        class="currency__button"
        (click)="isShowIconSecondTemplate = true"
      >
        {{nameFilter}}
      </mat-button-toggle>
    </ng-container>
  </mat-button-toggle-group>

  <mat-selection-list
    *ngIf="firstOrSecond === SequenceNumber.first && isShowIconFirstTemplate"
    class="scrollable-list"
  >
    <mat-list-item
      *ngFor="let nameStringFirstTemplate of arrayNamesForFirstTemplate; let i = index"
      class="mat-list-option"
      (click)="processingValueNameIconBank(nameStringFirstTemplate)"
    >
      <ng-container
        *ngTemplateOutlet="
          firstTemplate;
          context: { $implicit: nameStringFirstTemplate, index: i }
        "
      ></ng-container>
    </mat-list-item>
  </mat-selection-list>

  <mat-selection-list
    *ngIf="firstOrSecond === SequenceNumber.second && isShowIconSecondTemplate"
    class="scrollable-list"
  >
    <mat-list-item
      *ngFor="let nameStringSecondTemplate of arrayNamesForSecondTemplate; let i = index"
      class="mat-list-option"
      (click)="processingValueNameIconCrypto(nameStringSecondTemplate.name, nameStringSecondTemplate.code)"
    >
      <ng-container
        *ngTemplateOutlet="
          secondTemplate;
          context: { $implicit: nameStringSecondTemplate, index: i }
        "
      ></ng-container>
    </mat-list-item>
  </mat-selection-list>
</div>
