<div class="form-departure__component">
  <div class="main-title__form">{{ valueTitle }}</div>

  <app-button-currency
    (click)="checkingIconOutput()"
    (outputValue)="addCryptoOrCurrency($event)"
  ></app-button-currency>

  <mat-button-toggle-group class="currency__button-group">
    <ng-container *ngIf="cryptoOrCurrency === Money.currency">
      <mat-button-toggle
        *ngFor="let currency of nameButtonCurrency"
        (click)="processingValueCurrencyCode(currency.code)"
        class="currency__button"
      >
        {{ currency.name }}
      </mat-button-toggle>
    </ng-container>

    <mat-button-toggle
      *ngIf="cryptoOrCurrency === Money.crypto"
      (click)="isShowIconCrypto = true"
      class="currency__button"
    >
      Криптовалюта
    </mat-button-toggle>
  </mat-button-toggle-group>

  <mat-selection-list
    *ngIf="cryptoOrCurrency === Money.currency && isShowIconBank"
    class="scrollable-list"
  >
    <mat-list-item
      *ngFor="let name of nameButtonRusBankList; let i = index"
      (click)="processingValueNameIconBank(name)"
      class="mat-list-option"
    >
      <ng-container
        *ngTemplateOutlet="
          firstTemplate;
          context: { $implicit: name, index: i }
        "
      ></ng-container>
    </mat-list-item>
  </mat-selection-list>

  <mat-selection-list
    *ngIf="cryptoOrCurrency === Money.crypto && isShowIconCrypto"
    class="scrollable-list"
  >
    <mat-list-item
      *ngFor="let nameCrypto of nameButtonCryptoList; let i = index"
      class="mat-list-option"
      (click)="processingValueNameIconCrypto(nameCrypto.name, nameCrypto.code)"
    >
      <ng-container
        *ngTemplateOutlet="
          secondTemplate;
          context: { $implicit: nameCrypto, index: i }
        "
      ></ng-container>
    </mat-list-item>
  </mat-selection-list>
</div>
