.form-departure__component {
  border-radius: 20px;
  width: 397px;
  height: 1171px;
  box-shadow: 0 0 24px 0 rgba(90, 89, 89, 0.1);
  background: var(--base);
  margin-left: 150px;
  margin-top: 50px;
}

.main-title__form {
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #292929;
  margin-top: 24px;
  margin-left: 24px;
  width: 196px;
  height: 29px;
  position: absolute;
}

