<div class="form-departure__component">
  <div class="main-title__form">{{ valueTitle }}</div>
  <app-button-currency
    (click)="checkingIconOutput()"
    (outputValue)="addCryptoOrCurrency($event)"
  ></app-button-currency>
  <mat-button-toggle-group class="currency__button-group">
    <ng-container *ngIf="cryptoOrCurrency === 'currency'">
      <mat-button-toggle
        (click)="processingValueCurrencyCode(currency.code)"
        *ngFor="let currency of nameButtonCurrency"
        class="currency__button"
        >{{ currency.name }}</mat-button-toggle
      >
    </ng-container>
    <mat-button-toggle
      (click)="isShowIconCrypto = true"
      *ngIf="cryptoOrCurrency === 'crypto'"
      class="currency__button"
      >Криптовалюта</mat-button-toggle
    >
  </mat-button-toggle-group>
  <mat-selection-list
    *ngIf="cryptoOrCurrency === 'currency' && isShowIconBank"
    class="scrollable-list"
  >
    <mat-list-item
      class="mat-list-option"
      (click)="processingValueNameIconBank(nameBank)"
      *ngFor="let nameBank of nameButtonRusBankList; let i = index"
    >
      <div class="bank__icon">
        <div style="margin-top: 6px">
          <img
            alt="{{ nameBank }}"
            width="32"
            height="32"
            [ngSrc]="'assets/icons/currency/' + nameBank + '.svg'"
          />
        </div>
        <span class="bank-name">{{ nameButtonRusBankListRussian[i] }}</span>
      </div>
    </mat-list-item>
  </mat-selection-list>
  <mat-selection-list
    class="scrollable-list"
    *ngIf="cryptoOrCurrency === 'crypto' && isShowIconCrypto"
  >
    <mat-list-item
      class="mat-list-option"
      (click)="processingValueNameIconCrypto(nameCrypto.name, nameCrypto.code)"
      *ngFor="let nameCrypto of nameButtonCryptoList; let i = index"
    >
      <div class="bank__icon">
        <div style="margin-top: 6px">
          <img
            width="32"
            height="32"
            [ngSrc]="'assets/icons/currency/' + nameCrypto.name + '.svg'"
            alt="{{ nameCrypto.name }}"
          />
        </div>
        <span class="bank-name">{{ nameButtonCryptoList[i].name }}</span>
      </div>
    </mat-list-item>
  </mat-selection-list>
</div>
